<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
    <title>Aaron Rusli</title>
  </head>
  <body>
    <div class="container">

      <!-- begin jumbotron -->
      <div class="jumbotron">
        <h1><%= name %></h1>
        <h3><strong>Neopoints:</strong> <%= neopoints %></h3>
      </div>
      <!-- end jumbotron -->

      <div class="row marketing">

        <!-- begin listing neopets -->
        <div class="col-lg-6">
          <h3>Neopets</h3>
          <!-- first neopet -->
          <ul>
            <% neopets.each do |pet| %>
            <li><img src="../../public/img/neopets/<%= pet.species %>.jpg"></li>
            <ul>
              <li><strong>Name:</strong> <%= pet.name %></li>
              <li><strong>Mood:</strong> <%= pet.mood %></li>
              <li><strong>Species:</strong> <%= pet.species %></li>
              <li><strong>Strength:</strong> <%= pet.strength %></li>
              <li><strong>Defence:</strong> <%= pet.defence %></li>
              <li><strong>Movement:</strong> <%= pet.movement %></li>
              <li><strong>Items:</strong></li>
              <ul>
                <!-- begin first neopet's items -->
              <% pet.items.each do |item| %>
                <li><img src="../../public/img/items/<%= item.type %>.jpg"></li>
                <ul>
                  <li><strong>Type:</strong> <%= item.format_type %></li>
                </ul>
              </ul>
              <% end %>
            </ul>
            <% end %>
        </div>
        <!-- end listing neopets -->

        <!-- begin listing items -->
        <div class="col-lg-6">
          <h3>Items</h3>
          <ul>
            <% items.each do |item| %>
            <li><img src="../../public/img/items/<%= item.type %>.jpg"></li>
            <ul>
              <li><strong>Type:</strong> <%= item.format_type %></li>
            </ul>
            <% end %>
          </ul>
        </div>
        <!-- end listing items -->

      </div><!-- end row marketing -->
    </div><!-- end container -->
  </body>
</html>
